@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bff;
  --secondary-color: #f6e15e;
  --text-color: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3fbff;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
}

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--primary-color);
}

@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('../../public/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}